
.parentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}



.I1{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    width: 60%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    border: 1px solid #000000;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reg_button{
  background-color: #0056b3;

    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reg_button:hover{

    background-color: #004494;
}

.customFileInputLabel {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    background-color: #F2F2F2;
    text-align: center;
    width: 60%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #969393;
    border: 1px solid #000000;
    
 
}
