.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #242424;
}

.login-form {
  background: #fff;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.button:hover {
  background-color: #222;
  border: 1px solid #0056b3;
}

.register-button {
  margin-top: 20px;
}

.register-button button {
  padding: 10px 20px;
  background-color: #0056b3;
 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-button button:hover {

    background-color: #004494;
}
